.kuroco-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-md);
  &__heading { 
    margin: var(--spacing-sm) 0;
    font-size: 16px;
    font-weight: bold;
  }
  &--success {
    position: relative;
    margin-bottom: var(--spacing-x-lg);
    border: 1px solid var(--color-success);
    color: var(--color-success);
    z-index: 1;
    &::before {
      @extend %spread-background;
      border-radius: var(--border-radius-md);
      background-color: var(--color-success);
      opacity: .2;
    }
    p { color: var(--color-success); }
    svg circle { fill: var(--color-success); }
  }
  &--error {
    position: relative;
    margin-bottom: var(--spacing-x-lg);
    border: 1px solid var(--color-danger);
    color: var(--color-danger);
    z-index: 1;
    &::before {
      @extend %spread-background;
      border-radius: var(--border-radius-md);
      background-color: var(--color-danger);
      opacity: .2;
    }
    p { color: var(--color-danger); }
    svg circle { fill: var(--color-danger); }
  }
  p:not([class]) { 
    margin: 0;
  }
}