.kuroco-article {
  @extend .kuroco-card;
  display: block !important;
  margin: 0;
  padding: var(--spacing-xx-lg);
  @media screen and (max-width: 767px) {
    margin-right: -var(--spacing-lg);
    margin-left: -var(--spacing-lg);
    padding: var(--spacing-lg);
    border-radius: 0 !important;
  }
  &__title {
    margin-bottom: var(--spacing-lg);
    padding-bottom: var(--spacing-sm);
    border-bottom: 1px solid var(--color-border);
    @media screen and (min-width: 768px) {
      display: flex;
      h1, h2 { 
        flex: 1 1 auto;
        margin-bottom: 0 !important;
      }
    }
    h1, h2 { 
      padding-bottom: 0 !important;
    }
    h2 { border-bottom: 0 !important; }
  }

  // spacing
  *:first-child { margin-top: 0; }
  *:last-child {margin-bottom: 0; }

  // element
  h1 { 
    margin: var(--spacing-x-lg) 0;
    font-size: 36px;
    @media screen and (max-width: 767px) {
      margin: var(--spacing-lg) 0;
      font-size: 28px; 
    }
  }
  h2 { 
    margin: var(--spacing-x-lg) 0 var(--spacing-lg);
    padding-bottom: var(--spacing-sm);
    border-bottom: 1px solid var(--color-border);
    font-size: 28px;
    @media screen and (max-width: 767px) {
      margin: var(--spacing-md) 0;
      font-size: 24px; 
    }
  }
  h3 { 
    margin: var(--spacing-lg) 0;
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: var(--color-background);
    color: var(--color-gray);
    font-size: 24px;
    @media screen and (max-width: 767px) {
      margin: var(--spacing-md) 0;
      font-size: 22px; 
    }
  }
  h4 { 
    margin: var(--spacing-lg) 0;
    font-size: 22px;
    @media screen and (max-width: 767px) {
      margin: var(--spacing-md) 0;
      font-size: 22px; 
    }
  }
  h5 { 
    margin: var(--spacing-md) 0;
    font-size: 20px;
  }
  h6 { 
    margin: var(--spacing-md) 0;
    font-size: 18px;
  }
  ul, ol {
    margin: var(--spacing-sm) 0;
    padding-left: var(--spacing-lg);
    li { padding: var(--spacing-x-sm) 0; }
  }
  ul li {
    list-style: disc;
  }
  ol li {
    list-style: decimal;
  }
  table {
    width: 100%;
    margin: var(--spacing-sm) 0;
    border: 1px solid var(--color-border);
    border-collapse: collapse;
    th, td { 
      padding: var(--spacing-md);
      border: 1px solid var(--color-border);
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
    }
    th {
      background-color: var(--color-border-light);
      font-weight: bold;
    }
  }
  figure { 
    margin: var(--spacing-sm) 0;
    figcaption {
      color: var(--color-gray);
      font-size: 13px;
    }
    &.image {
      position: relative;
      display: table;
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      &.image-style-align-left {
        float: left;
        max-width: 50%;
        margin: 0 var(--spacing-lg) var(--spacing-lg) 0;
      }
      &.image-style-align-right {
        float: right;
        max-width: 50%;
        margin: 0 0 var(--spacing-lg) var(--spacing-lg);
      }
    }
    &.image-style-align-center {
      width: 100%;
    }
  }
  img { 
    max-width: 100%;
    border: 1px solid var(--color-border);
  }
  p { line-height: 2; }
  u { text-decoration: underline; }

  &__check-list {
    padding-left: 0 !important;
    li {
      padding-left: var(--spacing-lg) !important;
      list-style: none !important;
      background: url("/src/assets/image/icon-success.svg") no-repeat left var(--spacing-x-sm);
      &:not(:last-child) { margin-top: var(--spacing-x-sm); }
    }
  }

}