.docdog-article {
  @extend .docdog-card;
  display: block !important;
  margin: 0;
  padding: $spacing-xx-lg;
  @media screen and (max-width: 767px) {
    margin-right: -$spacing-lg;
    margin-left: -$spacing-lg;
    padding: $spacing-lg;
    border-radius: 0 !important;
  }
  &__title {
    margin-bottom: $spacing-lg;
    padding-bottom: $spacing-sm;
    border-bottom: 1px solid $color-border;
    @media screen and (min-width: 768px) {
      display: flex;
      h1, h2 { 
        flex: 1 1 auto;
        margin-bottom: 0 !important;
      }
    }
    h1, h2 { 
      padding-bottom: 0 !important;
    }
    h2 { border-bottom: 0 !important; }
  }

  // spacing
  *:first-child { margin-top: 0; }
  *:last-child {margin-bottom: 0; }

  // element
  h1 { 
    margin: $spacing-x-lg 0;
    font-size: 36px;
    @media screen and (max-width: 767px) {
      margin: $spacing-lg 0;
      font-size: 28px; 
    }
  }
  h2 { 
    margin: $spacing-x-lg 0 $spacing-lg;
    padding-bottom: $spacing-sm;
    border-bottom: 1px solid $color-border;
    font-size: 28px;
    @media screen and (max-width: 767px) {
      margin: $spacing-md 0;
      font-size: 24px; 
    }
  }
  h3 { 
    margin: $spacing-lg 0;
    padding: $spacing-sm $spacing-md;
    background-color: lighten($color-border, 8%);
    color: $color-secondary;
    font-size: 24px;
    @media screen and (max-width: 767px) {
      margin: $spacing-md 0;
      font-size: 22px; 
    }
  }
  h4 { 
    margin: $spacing-lg 0;
    font-size: 22px;
    @media screen and (max-width: 767px) {
      margin: $spacing-md 0;
      font-size: 22px; 
    }
  }
  h5 { 
    margin: $spacing-md 0;
    font-size: 20px;
  }
  h6 { 
    margin: $spacing-md 0;
    font-size: 18px;
  }
  ul, ol {
    margin: $spacing-sm 0;
    padding-left: $spacing-lg;
    li { padding: $spacing-x-sm 0; }
  }
  ul li {
    list-style: disc;
  }
  ol li {
    list-style: decimal;
  }
  table {
    width: 100%;
    margin: $spacing-sm 0;
    border: 1px solid $color-border;
    border-collapse: collapse;
    th, td { 
      padding: $spacing-md;
      border: 1px solid $color-border;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
    }
    th {
      background-color: lighten($color-border, 8%);
      font-weight: bold;
    }
  }
  figure { 
    margin: $spacing-sm 0;
    figcaption {
      color: $color-gray;
      font-size: 13px;
    }
    &.image {
      position: relative;
      display: table;
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      &.image-style-align-left {
        float: left;
        max-width: 50%;
        margin: 0 $spacing-lg $spacing-lg 0;
      }
      &.image-style-align-right {
        float: right;
        max-width: 50%;
        margin: 0 0 $spacing-lg $spacing-lg;
      }
    }
    &.image-style-align-center {
      width: 100%;
    }
  }
  img { 
    max-width: 100%;
    border: 1px solid $color-border;
  }
  p { line-height: 2; }
  u { text-decoration: underline; }

  &__check-list {
    padding-left: 0 !important;
    li {
      padding-left: $spacing-lg !important;
      list-style: none !important;
      background: url("/src/assets/image/icon-success.svg") no-repeat left $spacing-x-sm;
      &:not(:last-child) { margin-top: $spacing-x-sm; }
    }
  }

}