.docdog-badge {
  display: inline-block;
  min-width: 60px;
  padding: $spacing-x-sm $spacing-sm;
  background-color: $color-primary;
  border-radius: 20px;
  color: #fff;
  font-size: 11px;
  text-align: center;
}