.kuroco-badge {
  display: inline-block;
  min-width: 68px;
  padding: var(--spacing-x-sm) var(--spacing-md);
  background-color: var(--color-secondary);
  border-radius: 20px;
  color: #fff !important;
  font-size: 11px !important;
  text-align: center;
  &--danger { 
    background-color: var(--color-danger);
  }
}