.docdog-button {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: $spacing-lg;
  border-radius: $border-radius-sm;
  text-align: center !important;
  text-decoration: none !important;
  transition: $transition;
  // color
  &--primary {
    background-color: $color-primary;
    color: #fff !important;
    svg { fill: #fff; }
    &:hover {
      background-color: darken($color-primary, 8%);
    }
  }
  &--secondary {
    background-color: $color-secondary;
    color: #fff !important;
    &:hover {
      background-color: darken($color-secondary, 8%);
    }
  }
  &--white {
    border: 1px solid $color-border !important;
    background-color: #fff;
    color: $color-primary;
    &:hover { 
      background-color: lighten($color-border, 8%);
    }
  }
  &--danger {
    background-color: $color-danger;
    color: #fff !important;
    &:hover {
      background-color: darken($color-danger, 8%);
    }
  }
  &:disabled {
    background-color: lighten($color-disabled, 28%);
    color: $color-disabled !important;
    svg { fill: $color-disabled; }
  }

  // type
  &--text {
    padding: $spacing-x-sm;
    background-color: transparent;
    color: $color-link;
    line-height: 1.5 !important;
    & + & {
      margin-top: $spacing-x-sm;
    }
    &:hover { 
      background-color: transparent;
    }
  }

  &--add-list {
    @extend .docdog-button;
    @extend .docdog-button--primary;
    padding: $spacing-md;
    background: url("/src/assets/image/icon-add-list.svg") no-repeat right $spacing-md center $color-primary;
    background-size: 20px;
    transition: border-color $transition, background-color $transition, color $transition;
    .docdog-card--media .docdog-card__foot &,
    .docdog-article__title & {
      font-size: 13px;
      @media screen and (min-width: 768px) {
        flex: 0 0 auto;
        justify-content: flex-start;
        width: 212px !important;
        height: 45px !important;
      }
    }
    .docdog-article__title & {
      @media screen and (min-width: 768px) {
        margin-left: $spacing-lg;
      }
      @media screen and (max-width: 767px) {
        height: 45px !important;
      }
    }
    .docdog-card--media .docdog-card__foot & {
      justify-content: flex-start;
      text-align: left !important;
      @media screen and (max-width: 1280px) {
        .docdog-modal__open-sidebar & {
          flex: 1 1 auto;
          width: auto !important;
          height: auto !important;
          padding-right: $spacing-x-lg;
          font-size: 12px;
        }
      }
      @media screen and (max-width: 1024px) {
        flex: 1 1 auto;
        width: auto !important;
        height: auto !important;
        padding-right: $spacing-x-lg;
        font-size: 12px;
      }
      @media screen and (max-width: 375px) {
        padding-top: $spacing-sm;
        padding-bottom: $spacing-sm;
      }
    }
    &--remove {
      @extend .docdog-button--add-list;
      justify-content: center;
      border: 1px solid $color-border !important;
      background: url("/src/assets/image/icon-check-list.svg") no-repeat right $spacing-md center lighten($color-border, 8%) !important;
      background-size: 20px;
      color: $color-gray !important;
      svg { fill: lighten($color-gray, 8%); }
      &:hover {
        background-color: lighten($color-border, 4%) !important;
      }
    }
  }
  &--download {
    @extend .docdog-button;
    @extend .docdog-button--primary;
    justify-content: space-between;
    padding: $spacing-md;
    font-size: 13px !important;
    span { flex: 1 1 auto; }
    .docdog-sidebar__foot & {
      justify-content: flex-start;
    }
  }
  &--del {
    display: flex;
    align-items: center;
    padding: $spacing-x-sm;
    border-radius: $border-radius-sm;
    background-color: $color-gray;
    font-size: 13px;
    transition: $transition;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
    &:hover {
      background-color: lighten($color-gray, 8%);
    }
    span { 
      visibility: hidden;
    }
  }
  &--floating {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: $spacing-lg;
    bottom: $spacing-lg;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: $color-primary;
    box-shadow: 0 0 $spacing-md 0 rgba(0,0,0,.2);
    transition: $transition;
    z-index: 11200;
    &:hover {
      background-color: darken($color-primary, 8%);
    }
  }
  &--floating--wide {
    @extend .docdog-button--floating;
    width: auto;
    padding: $spacing-md $spacing-lg;
    color: #fff;
  }
  &--fixed--sp {
    @media screen and (max-width: 767px) {
      width: 100%;
      position: fixed;
      bottom: 0;
      right: 0;
      padding: $spacing-sm $spacing-lg; 
      box-shadow: 0 0 $spacing-md 0 rgba(0,0,0,.2);
      background-color: #fff;
    }
  }

  // size
  &--sm {
    display: inline-flex;
    flex: 0 0 auto !important;
    width: auto !important;
    height: 45px !important;
    font-size: 13px;
  }
  &--wide {
    flex: 1 1 100% !important;
    width: 100% !important;
  }

}