.docdog-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: $border-radius-md;
  box-shadow: 0 0 $spacing-sm 0 rgba(0,0,0,.1);
  background-color: #fff;
  .docdog-container--white & { border: 1px solid lighten($color-border, 8%); }
  &--link { 
    color: initial;
    text-decoration: none;
    transition: $transition;
    cursor: pointer;
    &.docdog-card:hover {
      box-shadow: 0 0 $spacing-md 0 rgba(0,0,0,.2);
    }
  }

  // card element
  &__thumb { 
    height: 200px;
    position: relative;
    border-bottom: 1px solid $color-border;
    border-radius: $border-radius-md $border-radius-md 0 0;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 1280px) {
      height: 150px;
    }
    &__badge {
      @extend .docdog-badge;
      position: absolute;
      bottom: $spacing-sm;
      right:  $spacing-sm;
      box-shadow: 0 0 $spacing-sm 0 rgba(0,0,0,.2);
    }
  }
  &__video {
    height: 0;
    padding: 0 0 56.25%;
    border-radius: $border-radius-md;
    position: relative;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: $spacing-lg;
    @media screen and (max-width: 767px) {
      padding: $spacing-md;
    }
    &__title {
      flex: 1 1 auto;
      margin: 0 !important;
      font-weight: bold;
      & + .docdog-button { margin-top: $spacing-sm; }
    }
    .docdog-button + .docdog-button {
      margin-top: $spacing-md;
    }
  }
  &__foot {
    display: flex;
    justify-content: flex-end;
    padding: 0 $spacing-lg $spacing-lg;
    @media screen and (max-width: 767px) {
      padding: 0 $spacing-md $spacing-md;
    }
  }

  // list
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    li { 
      @media screen and (min-width: 1025px) {
        width: calc( (100% - ($spacing-x-lg * 2 )) / 3 );
        &:not(:nth-of-type(3n)) { margin-right: $spacing-x-lg; }
        &:nth-of-type(n+4) { margin-top: $spacing-x-lg; }
      }
      @media screen and (min-width: 768px) and  (max-width: 1024px){
        width: calc( (100% - ($spacing-x-lg)) / 2 );
        &:not(:nth-of-type(2n)) { margin-right: $spacing-x-lg; }
        &:nth-of-type(n+3) { margin-top: $spacing-x-lg; }
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        &:not(:first-child) { margin-top: $spacing-lg; }
      }
    }
  }

  // type
  &--media {
    @extend .docdog-card;
    flex-direction: row;
    padding: $spacing-lg;
    // card element
    &__thumb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 auto;
      width: 140px;
      height: 199px;
      border: 1px solid $color-border;
      border-radius: $border-radius-sm;
      overflow: hidden;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 120px;
        height: 170px;
      }
      @media screen and (max-width: 414px) {
        width: 80px;
        height: 113px;
      }
      .docdog-modal__open-sidebar & {
        @media screen and (min-width: 768px) and (max-width: 1280px) {
          width: 120px;
          height: 170px;
        }
      }
      img { 
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__body {
      &__inner {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 0 0 0 $spacing-lg;
        @media screen and (max-width: 767px) {
          padding: 0 0 0 $spacing-md;
        }
      }
      flex: 1 1 auto;
      &__title {
        @extend .docdog-card__body__title;
      }
    }
    &__foot {
      @extend .docdog-card__foot;
      padding: $spacing-lg 0 0;
      @media screen and (max-width: 767px) {
        padding-top: $spacing-md;
      }
    }

    // list
    &__list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      li {
        @media screen and (min-width: 768px) {
          width: calc( (100% - ($spacing-x-lg)) / 2 );
          &:not(:nth-of-type(2n)) { margin-right: $spacing-x-lg; }
          &:nth-of-type(n+3) { margin-top: $spacing-x-lg; }
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          &:not(:first-child) { margin-top: $spacing-lg; }
        }
      }
    }
  }

}