.kuroco-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius-md);
  box-shadow: 0 0 var(--spacing-sm) 0 rgba(0,0,0,.1);
  background-color: #fff;
  .kuroco-container--white & { border: 1px solid var(--color-border-light); }
  &--link { 
    color: initial;
    text-decoration: none;
    transition: var(--transition);
    cursor: pointer;
    &.kuroco-card:hover {
      box-shadow: 0 0 var(--spacing-md) 0 rgba(0,0,0,.2);
      .kuroco-card--media__body__title { 
        color: var(--color-primary);
        text-decoration: underline;
        transition: var(--transition);
      }
    }
  }

  // card element
  &__thumb { 
    height: 200px;
    position: relative;
    border-bottom: 1px solid var(--color-border-light);;
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 1280px) {
      height: 150px;
    }
    &__badge {
      @extend .kuroco-badge;
      position: absolute;
      bottom: var(--spacing-sm);
      right:  var(--spacing-sm);
      box-shadow: 0 0 var(--spacing-sm) 0 rgba(0,0,0,.2);
    }
  }
  &__video {
    height: 0;
    padding: 0 0 56.25%;
    border-radius: var(--border-radius-md);
    position: relative;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: var(--spacing-lg);
    @media screen and (max-width: 767px) {
      padding: var(--spacing-md);
    }
    &__title {
      flex: 1 1 auto;
      margin: 0 !important;
      font-weight: bold;
      & + .kuroco-button { margin-top: var(--spacing-sm); }
    }
    .kuroco-button + .kuroco-button {
      margin-top: var(--spacing-md);
    }
  }
  &__foot {
    display: flex;
    justify-content: flex-end;
    padding: 0 var(--spacing-lg) var(--spacing-lg);
    @media screen and (max-width: 767px) {
      padding: 0 var(--spacing-md) var(--spacing-md);
    }
  }

  // list
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    li { 
      @media screen and (min-width: 1025px) {
        width: calc( (100% - (var(--spacing-x-lg) * 2 )) / 3 );
        &:not(:nth-of-type(3n)) { margin-right: var(--spacing-x-lg); }
        &:nth-of-type(n+4) { margin-top: var(--spacing-x-lg); }
      }
      @media screen and (min-width: 768px) and  (max-width: 1024px){
        width: calc( (100% - (var(--spacing-x-lg))) / 2 );
        &:not(:nth-of-type(2n)) { margin-right: var(--spacing-x-lg); }
        &:nth-of-type(n+3) { margin-top: var(--spacing-x-lg); }
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        &:not(:first-child) { margin-top: var(--spacing-lg); }
      }
    }
  }

  // type
  &--media {
    @extend .kuroco-card;
    flex-direction: row;
    padding: var(--spacing-lg);
    // card element
    &__thumb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 auto;
      width: 140px;
      height: 199px;
      border: 1px solid var(--color-border-light);;
      border-radius: var(--border-radius-sm);
      overflow: hidden;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 120px;
        height: 170px;
      }
      @media screen and (max-width: 414px) {
        width: 80px;
        height: 113px;
      }
      .kuroco-modal__open-sidebar & {
        @media screen and (min-width: 768px) and (max-width: 1280px) {
          width: 120px;
          height: 170px;
        }
      }
      img { 
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__body {
      &__inner {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 0 0 0 var(--spacing-lg);
        @media screen and (max-width: 767px) {
          padding: 0 0 0 var(--spacing-md);
        }
      }
      flex: 1 1 auto;
      &__title {
        @extend .kuroco-card__body__title;
      }
    }
    &__foot {
      @extend .kuroco-card__foot;
      padding: var(--spacing-lg) 0 0;
      @media screen and (max-width: 767px) {
        padding-top: var(--spacing-md);
      }
    }

    // list
    &__list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      li {
        @media screen and (min-width: 768px) {
          width: calc( (100% - (var(--spacing-x-lg))) / 2 );
          &:not(:nth-of-type(2n)) { margin-right: var(--spacing-x-lg); }
          &:nth-of-type(n+3) { margin-top: var(--spacing-x-lg); }
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          &:not(:first-child) { margin-top: var(--spacing-lg); }
        }
      }
    }
  }

}