.kuroco {
  color: #222;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  *, *:after, *:before {
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: inherit;
  }
  p {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    &:not(:first-child) {
      margin: var(--spacing-md) 0 0;
    }
    &:not(:last-child) {
      margin: 0 0 var(--spacing-md);
    }
    &:first-child:last-child,
    &:not(:first-child):not(:last-child) {
      margin: var(--spacing-md) 0;
    }
    a {
      display: inline-block;
      padding: 0 var(--spacing-x-sm);
      text-decoration: underline;
    }
  }
  dd, dl, dt, ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }
  li { 
    list-style: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }
  a {
    color: var(--color-primary);
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }
  button, input[type=button],
  input[type=submit] { 
    border: none;
  }
  button {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    &:disabled {
      pointer-events: none;
      color: var(--color-gray);
    }
  }
  strong { font-weight: bold; }
  time {
    color: var(--color-gray);
    font-size: 13px;
    font-family: inherit;
  }
}
.kuroco--toggle--open,
.kuroco--toggle--open * {
  z-index: var(--z-index) !important;
}