$color-link: #1371ff;
$color-primary: #1371ff;
$color-secondary: #5d6775;
$color-border: #ccc;
$color-gray: #666;
$color-danger: #dc0000;
$color-success: #05a87c;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$spacing-x-sm: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 24px;
$spacing-x-lg: 36px;
$transition: 0.2s;

.docdog {
  color: #222;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  *, *:after, *:before {
    box-sizing: border-box;
  }
  dd, dl, dt, ul, ol {
    padding: 0;
    margin: 0;
  }
  li { list-style: none; }
  a {
    color: $color-link;
  }
  button, input[type=button],
  input[type=submit] { 
    border: none;
  }
  button {
    cursor: pointer;
    &:disabled {
      pointer-events: none;
      color: $color-gray;
    }
  }
}