.docdog-container {
  // color
  &--white {
    padding: $spacing-x-lg;
    border-radius: $border-radius-md;
    box-shadow: 0 0 $spacing-md 0 rgba(0,0,0,.1);
    background-color: #fff;
    @media screen and (max-width: 767px) {
      padding: $spacing-lg;
    }
  }
  // size
  &--form {
    @media screen and (min-width: 768px) {
      width: 800px;
      margin: auto;
    }
  }
  &--article {
    @media screen and (min-width: 768px) {
      max-width: 1000px;
      margin: auto;
    }
  }
}