.docdog-container {
  // color
  &--white {
    padding: $spacing-x-lg;
    border-radius: $border-radius-md;
    box-shadow: 0 0 $spacing-md 0 rgba(0,0,0,.1);
    background-color: #fff;
    @media screen and (max-width: 767px) {
      padding: $spacing-lg;
    }
  }
  // size
  &--form {
    @media screen and (min-width: 768px) {
      width: 800px;
      margin: auto;
    }
  }
  &--middle {
    @media screen and (min-width: 768px) {
      max-width: 1000px;
      margin: auto;
    }
  }

  // col-2
  &--col-2 {
    display: flex;
    @media screen and (min-width: 768px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    &__side {
      @media screen and (min-width: 768px) {
        width: 200px;
        margin: 0 auto 0 0;
      }
      @media screen and (max-width: 767px) {
        order: 2;
        margin-top: $spacing-lg;
      }
    }
    &__main {
      @media screen and (min-width: 768px) {
        width: 700px;
        margin: 0 0 0 auto;
      }
      @media screen and (max-width: 767px) {
        order: 1;
      }
    }
  }


}