.docdog {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  select {
    width: 100%;
    height: 50px;
    border: 1px solid $color-border;
    border-radius: $border-radius-sm;
    padding: $spacing-md;
  }
  input[type='checkbox'],
  input[type='radio'] {
    width: 16px;
    height: 16px;
    margin-right: $spacing-sm;
  }
}

.docdog-form {
  @media screen and (min-width: 768px) {
    &--col-2 {
      display: flex;
      justify-content: space-between;
    }
    &__sso,
    &__signin {
      width: 43%;
    }
  }
  &__sso {
    &__button {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      padding: $spacing-md;
      border-radius: $border-radius-sm;
      transition: $transition;
      svg {
        flex: 0 0 auto;
      }
      span {
        flex: 1 1 auto;
        color: #fff;
        text-align: center;
        line-height: 1;
      }
      & + & {
        margin-top: $spacing-sm;
      }
      &--google {
        border: 1px solid $color-border !important;
        background-color: #fff;
        span { color: #222 !important; }
        &:hover {
          background-color: darken(#fff, 8%);
        }
      }
      &--facebook {
        border-color: #1877f2;
        background-color: #1877f2;
        &:hover {
          border-block-color: darken(#1877f2, 8%);
          background-color: darken(#1877f2, 8%);
        }
      }
      &--apple {
        border-color: #000;
        background-color: #000;
        &:hover {
          border-color: lighten(#000, 12%);
          background-color: lighten(#000, 12%);
        }
      }
      &--line {
        border-color: #06c755;
        background-color: #06c755;
        &:hover {
          border-color: darken(#06c755, 8%);
          background-color: darken(#06c755, 8%);
        }
      }
      &--yahoo {
        border-color: #ff0033;
        background-color: #ff0033;
        &:hover {
          border-color: darken(#ff0033, 8%);
          background-color: darken(#ff0033, 8%);
        }
      }
    }
  }
  &__hr {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 8%;
    position: relative;
    @media screen and (max-width: 767px) {
      width: 100%;
      min-height: 20px;
      margin: $spacing-md 0;
      padding: $spacing-lg 0;
    }
    &::before {
      width: 1px;
      height: 100%;
      background-color: $color-border;
      content: '';
      @media screen and (max-width: 767px) {
        width: 100%;
        height: 1px;
      }
    }
    span {
      display: block;
      width: 100%;
      padding: $spacing-md 0;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #fff;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      transform: translate(-50%, -50%);
      @media screen and (max-width: 767px) {
        width: auto;
        padding: 0 $spacing-md;
      }
    }
  }
  &__toggle {
    display: flex;
    align-items: center;
    padding: $spacing-sm 0;
  }
  &__button {
    margin-top: $spacing-lg;
  }
  &__item {
    &:not(:first-child) {
      margin-top: $spacing-md;
    }
    &--error {
      input[type='text'],
      input[type='email'],
      input[type='password'] {
        border-color: $color-danger;
      }
      &__msg {
        margin: $spacing-sm 0;
        color: $color-danger;
        font-size: 12px;
      }
    }
    &--col-2 {
      display: flex;
      justify-content: space-between;
      .docdog-form__item {
        width: 48%;
        margin-top: 0;
      }
    }
    &__title {
      display: block;
      margin: 0 0 $spacing-x-sm;
      font-weight: bold;
    }
    &__note {
      margin-top: $spacing-x-sm;
      color: $color-gray;
      font-size: 12px;
    }
  }
  &__link {
    margin-top: $spacing-lg;
    text-align: center;
    a,
    button {
      display: block;
      margin: auto;
    }
  }
}

.docdog-form__signin {
  .docdog-form__item {
    &:not(:first-child) {
      margin-top: $spacing-sm;
    }
  }
}

.docdog-form__sso .docdog-modal__body__heading,
.docdog-form__signin .docdog-modal__body__heading, {
  text-align: center;
}