.kuroco-list {
  margin: var(--spacing-md) 0 !important;
  border-top: 1px solid var(--color-border);
  &__item {
    border-bottom: 1px solid var(--color-border);
    &__link {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: var(--border-radius-sm);
      padding: var(--spacing-sm);
      background-color: #fff;
      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
      }
      &:hover {
        background-color: var(--color-border-light);
      }
      time {
        margin-right: var(--spacing-md);
      }
    }
    &__title {
      font-weight: bold;
      @media screen and (max-width: 767px) {
        flex: 1 1 100%;
        text-align: left;
        .kuroco-badge + & {
          margin-top: var(--spacing-sm);
        }
      }
      @media screen and (min-width: 768px) {
        .kuroco-badge + & {
          margin-left: var(--spacing-md);
        }
      }
    }
  }
}
