.kuroco-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 240px;
  height: 240px;
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-md);
  background-color: #fff;
  box-shadow: 0 0 var(--spacing-sm) 0 rgba(0,0,0,.1);
  position: fixed;
  inset: 0;
  margin: auto;
  &__icon {
    &,&::after {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }
    font-size: 10px;
    text-indent: -9999em;
    border-top: 10px solid var(--color-border-light);
    border-right: 10px solid var(--color-border-light);
    border-bottom: 10px solid var(--color-border-light);
    border-left: 10px solid var(--color-primary);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loader 1s infinite linear;
    animation: loader 1s infinite linear;
    @-webkit-keyframes loader {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes loader {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
  &__message {
    font-size: 13px;
  }
}
