.kuroco-modal-open {
  overflow-y: hidden;
}

.kuroco-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: var(--z-index);
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: var(--transition);
    z-index: var(--z-index);
    @media screen and (min-width: 1024px) {
      .kuroco-modal__open-sidebar & {
        width: calc( 100% - 200px );
      }
    }
  }
  // header
  &__head {
    display: flex;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-x-lg);
    box-shadow: 0 0 var(--spacing-md) 0 rgba(0,0,0,.2);
    z-index: 1;
    @media screen and (max-width: 767px) {
      justify-content: space-between;
      padding: var(--spacing-sm) var(--spacing-md);
    }
    &__logo {
      display: flex;
      align-items: center;
      height: 45px;
      margin-right: var(--spacing-x-lg);
      padding: 0;
      background-color: transparent;
      img {
        max-height: 45px;
      }
      @media screen and (max-width: 767px) {
        max-width: 200px;
        margin-right: var(--spacing-lg);
        & img, & svg { max-width: 100%; }
      }
    }
    &__nav {
      display: flex;
      align-items: center;
      &--sp { 
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__button {
        @extend %button;
        @extend .kuroco-button--white;
        height: 40px;
        padding: var(--spacing-sm);
      }
      &__list {
        @media screen and (min-width: 768px) {
          margin-left: var(--spacing-lg);
          &__menu {
            display: flex;
            li {
              margin-left: var(--spacing-md);
            }
          }
        }
        @media screen and (max-width: 767px) {
          width: 90%;
          height: 100%;
          padding: var(--spacing-lg);
          position: fixed;
          right: -1000px;
          top: 0;
          background-color: #fff;
          box-shadow: 0 0 var(--spacing-md) 0 rgba(0,0,0,.2);
          z-index: calc(var(--z-index) + 2);
          transition : 0.4s ease-in-out;
          &--fixed {
            right: 0;
          }
          &__menu {
            margin: var(--spacing-md) 0 !important;
            border-top: 1px solid var(--color-border-light);
            li {
              border-bottom: 1px solid var(--color-border-light);
            }
          }
        }
        &__item {
          padding: var(--spacing-md);
          background-color: transparent;
          font-weight: bold;
          transition: var(--transition);
          &:hover {
            color: var(--color-primary);
          }
          @media screen and (max-width: 767px) {
            width: 100%;
            height: 50px;
            text-align: left;
          }
        }
      }
    }
    &__account {
      &__button {
        height: 45px;
        padding: 0 var(--spacing-lg);
        border: 1px solid var(--color-primary) !important;
        border-radius: var(--border-radius-sm);
        background-color: transparent;
        color:var(--color-primary);
        transition: var(--transition);
        @media screen and (max-width: 767px) {
          padding: 0 var(--spacing-sm);
        }
        &:hover {
          background-color: var(--color-primary);
          color: #fff;
        }
      }
      &__toggle {
        width: 45px;
        height: 45px;
        padding: 0;
        background-color: transparent;
        &:hover {
          @extend %hover;
        }
        svg path { fill: var(--color-primary); }
      }
      &__nav {
        position: absolute;
        top: 70px;
        right: 2em;
        width: 200px;
        border-radius: var(--border-radius-sm);
        background-color: #fff;
        box-shadow: 0 0 var(--spacing-md) 0 rgba(0,0,0,.2);
        z-index: calc(var(--z-index) + 1);
        li:not(:first-child) {
          border-top: 1px solid var(--color-border-light);
        }
        &__item {
          width: 100%;
          padding: var(--spacing-md);
          background-color: transparent;
          text-align: left;
          &:hover {
            background-color: var(--color-border-light);
          }
          li:first-child & {
            border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
          }
          li:last-child & {
            border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
          }
        }
      }
    }
  }
  &__body {
    flex: 1 1 auto;
    padding: var(--spacing-xx-lg);
    overflow-y: auto;
    background-color: var(--color-background);
    &::-webkit-scrollbar {
      background-color: #f0f0f0;
      width: var(--border-radius-md);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-border);
      border-radius: var(--border-radius-sm);
      border:2px solid var(--color-border);
    }
    @media screen and (max-width: 767px) {
      padding: var(--spacing-lg);
    }
    &:last-child { 
      padding-bottom: var(--spacing-xxx-lg);
    }
    &__pagetitle {
      h1,
      h2 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        @media screen and (min-width: 768px) {
          + p:first-of-type {
            margin-top: var(--spacing-lg) !important;
          }
        }
      }
      .kuroco-container--white & p {
        @extend .kuroco-modal__body__text;
      }
    }
    &__heading {
      margin: 0 0 var(--spacing-lg) !important;
      font-size: 16px;
      font-weight: bold;
    }
    &__sub-heading {
      margin: 0 0 var(--spacing-lg) !important;
      font-size: 15px;
      font-weight: bold;
    }
    &__text {
      color: var(--color-gray) !important;
      font-size: 13px !important;
      a {
        display: inline-block;
        padding: 0 var(--spacing-x-sm);
      }
    }
    &__complete {
      @extend .kuroco-article;
      a {
        @extend .kuroco-u-mt-lg;
        @extend %button;
        @extend .kuroco-button--primary;
        @media screen and (min-width: 768px) {
          display: inline-flex !important;
          width: auto !important;
          height: 60px;
          padding-right: var(--spacing-xx-lg) !important;
          padding-left: var(--spacing-xx-lg) !important;
        }
        @media screen and (max-width: 767px) {
          min-height: 50px;
          height: auto !important;
          line-height: 1.3;
        }
      }
      ul,
      ol {
        padding: var(--spacing-md) var(--spacing-md) var(--spacing-md) var(--spacing-x-lg);
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius-sm);
      }
    }
    &__section {
      & + & {
        margin-top: var(--spacing-x-lg);
        @media screen and (max-width: 767px) {
          margin-top: var(--spacing-lg);
        }
      }
    }
  }
  &__foot {
    display: flex;
    justify-content: center;
    padding: var(--spacing-lg) var(--spacing-x-lg);
    box-shadow: 0 0 var(--spacing-md) 0 rgba(0, 0, 0, 0.2);
    background-color: var(--color-gray);
    @media screen and (max-width: 767px) {
      padding: var(--spacing-md) var(--spacing-x-lg);
    }
    .kuroco-modal__body + & {
      box-shadow: 0 0 var(--spacing-md) 0 rgba(0,0,0,.2);
     }
     .kuroco-button,
     .kuroco-button--add-list {
       max-width: 1000px;
     }
  }
}