.docdog-modal-open {
  overflow-y: hidden;
}

.docdog-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 $spacing-md 0 rgba(0, 0, 0, 0.2);
  z-index: 11100;
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 2s;
    z-index: 10000;
  }
  // header
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-md $spacing-x-lg;
    box-shadow: 0 0 $spacing-md 0 rgba(0,0,0,.2);
    z-index: 10000;
    &__nav {
      display: flex;
      align-items: center;
      &--sp { 
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__logo {
        display: flex;
        align-items: center;
        height: 45px;
        padding: 0;
        background-color: transparent;
        img {
          max-height: 45px;
        }
        @media screen and (max-width: 767px) {
          max-width: 200px;
          & img, & svg { max-width: 100%; }
        }
      }
      &__list {
        @media screen and (min-width: 768px) {
          margin-left: $spacing-lg;
          &__menu {
            display: flex;
            li {
              margin-left: $spacing-md;
            }
          }
        }
        @media screen and (max-width: 767px) {
          width: 90%;
          height: 100%;
          padding: $spacing-lg;
          position: fixed;
          right: -1000px;
          top: 0;
          background-color: #fff;
          box-shadow: 0 0 $spacing-md 0 rgba(0,0,0,.2);
          z-index: 11000;
          transition : 0.4s ease-in-out;
          &--fixed {
            right: 0;
          }
          &__menu {
            margin: $spacing-md 0 !important;
            border-top: 1px solid lighten($color-border, 4%);
            li {
              border-bottom: 1px solid lighten($color-border, 4%);
            }
          }
        }
        &__item {
          padding: $spacing-md;
          background-color: transparent;
          font-weight: bold;
          transition: $transition;
          &:hover {
            color: $color-primary;
          }
          @media screen and (max-width: 767px) {
            width: 100%;
            height: 50px;
            text-align: left;
          }
        }
      }
    }
    &__account {
      &__button {
        height: 45px;
        padding: 0 $spacing-lg;
        border: 1px solid $color-link !important;
        border-radius: $border-radius-sm;
        background-color: transparent;
        color:$color-link;
        transition: $transition;
        @media screen and (max-width: 767px) {
          padding: 0 $spacing-sm;
        }
        &:hover {
          background-color: $color-primary;
          color: #fff;
        }
      }
      &__toggle {
        width: 45px;
        height: 45px;
        padding: 0;
        background-color: transparent;
        &:hover svg path {
          fill: darken($color-primary, 8%);
        }
      }
      &__nav {
        position: absolute;
        top: 70px;
        right: 2em;
        width: 200px;
        border-radius: $border-radius-sm;
        background-color: #fff;
        box-shadow: 0 0 $spacing-md 0 rgba(0,0,0,.2);
        z-index: 10000;
        li:not(:first-child) {
          border-top: 1px solid lighten($color-border, 4%);
        }
        &__item {
          width: 100%;
          padding: $spacing-md;
          background-color: transparent;
          text-align: left;
          &:hover {
            background-color: lighten($color-border, 8%);
          }
          li:first-child & {
            border-radius: $border-radius-sm $border-radius-sm 0 0;
          }
          li:last-child & {
            border-radius: 0 0 $border-radius-sm $border-radius-sm;
          }
        }
      }
    }
  }
  &__body {
    flex: 1 1 auto;
    padding: $spacing-xx-lg;
    overflow-y: auto;
    background-color: $color-background;
    &::-webkit-scrollbar {
      background-color: #f0f0f0;
      width: $border-radius-md;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-border;
      border-radius: $border-radius-sm;
      border:2px solid $color-border;
    }
    &__pagetitle {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      & + p {
        margin: $spacing-lg 0 !important;
      }
    }
    &__heading {
      margin: 0 0 $spacing-lg !important;
      font-size: 16px;
      font-weight: bold;
    }
    &__sub-heading {
      margin: 0 0 $spacing-lg !important;
      font-size: 15px;
      font-weight: bold;
    }
    &__text {
      color: $color-gray !important;
      font-size: 13px !important;
      a {
        display: inline-block;
        padding: 0 $spacing-x-sm;
      }
    }
    &__section {
      & + & {
        margin-top: $spacing-x-lg;
      }
    }
  }
  &__foot {
    display: flex;
    justify-content: center;
    padding: $spacing-lg $spacing-x-lg;
    background-color: darken($color-secondary, 16%);
    .docdog-modal__body + & {
      box-shadow: 0 0 $spacing-md 0 rgba(0,0,0,.2);
     }
     .docdog-button,
     .docdog-button--add-list {
       max-width: 1000px;
     }
  }
  @media screen and (max-width: 767px) {
    .docdog-modal__head {
      padding: $spacing-sm $spacing-sm $spacing-sm $spacing-lg;
    }
    .docdog-modal__body,
    .docdog-modal__foot {
      padding: $spacing-lg;
    }
  }
}