.kuroco-tab {
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: transparent;
  color: var(--color-gray);
  transition: var(--transition);
  @media screen and (max-width: 767px) {
    padding: var(--spacing-md);
  }
  &:hover {
    color: var(--color-primary);
  }
  &--active {
    color: var(--color-primary);
    border-bottom: var(--spacing-x-sm) solid var(--color-primary) !important;
    font-weight: bold;
  }

  // list
  &__list {
    display: flex;
    border-bottom: 1px solid var(--color-border);
    white-space: nowrap;
    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 767px) {
      overflow-x: auto;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
      &__outer {
        position: relative;
        &::after {
          width: var(--spacing-lg);
          height: var(--spacing-xx-lg);
          position: absolute;
          top: 0;
          right: 0;
          background:linear-gradient(to right, rgba(255,255,255,0), var(--color-background));
          content: "";
        }
      }
    }
  }

}