.kuroco-tooltip {
  width: 120px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 70px;
  padding: var(--spacing-x-sm) var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-border-light);
  font-size: 10px;
  transform: translate(0,-50%);
  transition: var(--transition);
  opacity: 0;
  .kuroco-tooltip:hover &,
  button:hover &,
  a:hover & {
    opacity: 1;
  }
  &::after {
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: -12px;
    border: 6px solid transparent;
    border-left: 6px solid var(--color-border-light);
    transform: translate(0,-50%);
    content: "";
  }
  &__outer {
    position: relative;
  }
}