$color-background: #F5F6F8;
$color-link: #1371ff;
$color-primary: #1371ff;
$color-secondary: #5d6775;
$color-gray: #565758;
$color-danger: #dc0000;
$color-success: #05a87c;
$color-thumb-border: darken($color-background, 8%);
$color-border: darken($color-background, 12%);
$color-input-border: lighten($color-gray, 40%);
$color-disabled: lighten($color-gray, 24%);
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$spacing-x-sm: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 24px;
$spacing-x-lg: 36px;
$spacing-xx-lg: 48px;
$spacing-xxx-lg: 60px;
$transition: 0.2s;