.c-badge {
    padding: .4em 1em;
    background-color: $color-primary;
    border-radius: 20px;
    color: $color-light;
    font-size: .8em;
    &--pdf { background-color: #C20909; }
    &--excel { background-color: #009F36; }
}