.c-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    // border: 1px solid $color-border;
    border-radius: $border-radius-lg;
    background-color: #fff;
    &__thumb {
        position: relative;
        height: 200px;
        border-bottom: 1px solid $color-border;
        border-radius: $border-radius-lg $border-radius-lg 0 0;
        background-position: center;
        // background-size: cover
        @media screen and (max-width: 767px) {
            height: 150px;
        }
        .c-badge {
            position: absolute;
            right: 1em;
            bottom: 1em;
        }
    }
    &__body {
        flex: 1 1 auto;
        padding: 20px;
    }
    &__foot {
        padding: 20px;
        .c-button { 
            display: block;
            width: 100%;
            height: 50px;
            &:not(:first-child) { margin-top: 1em; }
        }
        .c-card__body + & { padding-top: 0; }
    }
    &__title {
        font-size: 1.1em;
    }
}

.c-card__list {
    margin: 2em 0;
    @media screen and (max-width: 767px) {
        li:not(:first-child) { margin-top: 1em; }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        &--col-3 {
            li { 
                width: 30%;
                &:not(:nth-of-type(3n)) { margin-right: 5%; }
                &:nth-of-type(n+4) { margin-top: 5%; }
            }
        }
    }
}