.c-button {
    padding: .4em .8em;
    border: 1px solid;
    border-radius: $border-radius;
    text-align: center;
    font-size: .9em;
    transition: $transition;
    &--dark {
        background-color: $color-dark;
        color: #fff;
        &:hover {
            background-color: darken($color-dark, 12%);
        }
    }
    &--light {
        background-color: #fff;
        border-color: $color-border;
        color: $color-link;
        &:hover {
            background-color: darken(#fff, 8%);
        }
    }
    &--primary {
        border-color: $color-primary;
        background-color: $color-primary;
        color: #fff;
        &:hover {
            border-color: $color-primary;
            background-color: transparent;
            color: $color-primary;
        }
    }
}