    $font-size-base: 1em;
    $color-font: #333;
    $color-background: #f2f0f0;
    $color-primary: #ff4513;
    $color-border: #ccc;
    $color-dark: #333;
    $darken: #000;
    $color-light: #fff;
    $color-link: #1371FF;
    $border-radius: 6px;
    $border-radius-lg: 12px;
    $transition: .2s;


// $img_path:        '/files/user/assets/images/';
// $base_font_size:  1em;
// $base_font_color: #333;

// $c_main:          #00BED4;
// $c_secondary:     #0C9AEB;
// $c_gradation:     #0780C7;
// $c_accent:        #D4BC15;
// $c_bg:            #EBF3F6;
// $c_bg-dark:       #D8E8ED;
// $c_white:         #fff;
// $c_border:        #ccc;

// $border-radius:   10px;
// $border-radius-lg:   30px;

// $transition-second: .2s;
// $transition:      border-color .3s ease-in, background-color $transition-second ease-in, color $transition-second ease-out; 

// $break_point:     768px; // @include pc/sp(){...} で参照されるブレイクポイント
// $grid_split_num:  12; // Gridの分割
